/* ----- Sobre mi  ----- */

.about {
	padding-top: 2.5rem;
	padding-bottom: 0.8rem;
	width: 98%;
}

.parallax2 {
	background-attachment: fixed;
	background-image: url(../img/s02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; /* LLena el espacio del contenedor */
	background-size: 80%;
	/*height: 100vh; */
	width: inherit;
}

.about h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.3em;
	padding-bottom: 0.25rem;
	padding-left: 10px;
	padding-top: 2rem;
	text-align: left;	
	/*text-shadow: 5px, 5px, 1px hotpink;*/
}

.about p {
	font-family: Verdana, sans-serif;	
	font-size: 18px;
	margin-bottom: 1em;
	padding-left: 10px;
	text-align: justify;
}

/* Para moviles vertical */
@media (max-width: 768px) {

	.about {
		padding-left: 10px;
		padding-right: 10px;
	}

	.about h1 {
		font-size: 1.5rem;
	}
}