/* ----- Header ----- */

.cab {
	background: #929D4A;
	color: black;
	padding: 2rem 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 20px;
	border-radius: 10px;

	 /* align-content: center;
	/*padding: 1rem 0; */

	/*width: 95%;
	height: 12%;

	/*left: 2.5rem;
	top: 0;
	right: 2rem; */
}

.cab a {
	text-decoration: none;
	font-size: 20px;
	border-radius: 25px;
	margin-left: 10px;
}

.cab-cnt, {
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
}

.cab-cnt-flex {
	display: flex;
	justify-content: space-between; /* reparte el logo y el menu en el contenedor */
	align-items: center; /* El logo y el menu los centra entre el contenedor horizontalmente */
	flex-wrap: wrap; /* Permite que los elementos se justifique hacia abajo si no caben en pantalla*/
}

.cab-cnt-logo {
	letter-spacing: 15px;
	border-radius: 25px;
}

.cab-menu-icon {
	display: none;
}

.cab-cnt-nav ul { /*Quitamos los margenes y rellenos para que quede solo el campo */
	margin: 0;
	padding: 0;
	list-style: none; /* Quita el puntito de la viñeta */
}

.cab-cnt-nav ul li {
	display: inline-block; /* Pone los items uno a la par del otro */
}

.cab-cnt-nav ul li a {
	display: block;
	font-size: 1.4rem;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear; /* Se le da un tiempo para se vea lento el efecto de cambio de color */
	border-radius: 5px;
	margin-right: 5px;
}

.cab-cnt-nav ul li a:hover {
	background: #3BE583;
}
