/* ----- inicio ----- */

.inicio {
	/*padding-top: 3rem;*/
	padding-bottom: 0.5rem;
	width: 98%;
}

/*
#inicio {
	background-image: url(../img/s01.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 80%;
}
*/

.parallax1 {
	background-attachment: fixed;
	background-image: url(../img/s01.jpg);
	background-position: top;
	background-repeat: no-repeat;
	/*background-size: contain; /* LLena el espacio del contenedor */
	background-size: 60%;
	/*height: 100vh;*/
	width: inherit;
}

.inicio__portada {
	align-items: center;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 0.3rem;
	padding-left: 10px;
	padding-top: 1.5rem;
	width: 100%;
}

#temp {
	display: grid;
	gap: 10px; /* Separación entre celdas */
	grid-auto-flow: dense; /* Acomoda las celdas cuando se unen y no dejan espacios entre ellas */
	grid-auto-rows: minmax(200px, auto);/* Manejo alto columna de celda  */
	grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* Manejo ancho columna de celda */ 
}

.inicio__portada h1 {
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1em;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: left;
	width: 85%;	
}

.inicio__portada img {
	background: black;
	border: 3px solid #929D4A;
	border-radius: 40px;
	float: right;
	height: 150px;
	width: 150px;
}

.inicio__desc {
	padding-bottom: 0.5rem;
	width: 100%;
}

.inicio__desc p {
	font-size: 20px;
	margin-bottom: 1.3em;
	padding-left: 10px;
	padding-top: 2rem;
	padding-right: 10px;
	text-align: justify;	
	width: 98%;
	/* text-align: justify-all;*/	
}

/* Anexos */

.anexos {
	align-items: center;
	display: flex;
	margin: 0 auto;	
   padding: 10px 10px;
}

.anexos__item {
	border: 3px solid #929D4A;
	border-radius: 5px;
	margin: 0 10px;
	padding: 5px 5px;
	text-align: center;
}

.anexos__item a {
	text-decoration: none;
	color: white;
	align-items: center;
	text-align: center;
	/*padding: 2px 10px; */
}

.anexos__item a:hover {
	/*color: darkblue; */
	color: black;
	background: greenyellow;
	background: #929D4A;
}

.anexos img{
	align-items: center;
	align-content: center;
	border-radius: 5px;
	line-height: 60px;
	width: 90px;
	height: 90px;
}

.wide {
	grid-column: span 2; /* para manejar la union de 2 celdas de ancho */ 
}

/* ----- Para moviles horizontal ----- */

@media (max-width: 845px) {

	.inicio__portada {
		padding-right: 20px;
	}

	.inicio__portada h1 {
		width: 80%;
	}

	.inicio__portada img {
		height: 100px;
		width: 100px;
	}

}


/* ----- Para moviles vertical ----- */
@media screen and  (max-width: 768px) {
	.inicio {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	.parallax1 {
		background-position: center;
	}

	.inicio__portada {
		width: 100%;
	}

	.inicio__portada img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 175px;
		width: 175px;		
	}

	.inicio__portada h1 {
		text-align: center;
		font-size: 1.75rem;
		padding-bottom: 1rem;
	}

	.inicio__desc {
		width: 100%;
	}

	.anexos {
		align-items: center;
		align-content: center;
		display: block;
		padding-left: 50px;
	}

	.anexos__item {
		height: 150px;
		width: 200px;
	}
}