/* Configuracion del menu de navegacion */

.cab {
	background: black;
	border: 3px solid #929D4A;
	border-radius: 10px;	
	height: 62px;
	left: 0;
	position: fixed; /* Con esto se queda fijo el menu en la parte superior */
	top: 0;
	width: 100%;
}

.nav {
	display: flex;            /* Alinea los elementos en forma horizontal */
	justify-content: space-between; /* Los distribuye segun el espacio (logo izq Menu der) */
	max-width: 880px;         /* Se le da un ancho para centrar en la pagina */
	margin: 0 auto;           /* Alinea horizontalmente */
}

.nav__logo { /* Configura el icono para el menu moviles */
	color: white;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	line-height: 62px;
	padding: 0 40px;
	text-decoration: none;    /* Quita el subrayado */	
}

.logo { /* Configura el tamaño del logo */
	height: 96%; 
	border: 3px solid #929D4A;
	border-radius: 25px;
	line-height: 62px;
}

.nav__menu { /* Configura el menu navegacion */	
	display: flex;
	/*margin-right: 15px; */
	list-style: none;	        /* Quita el puntito de viñeta de los links */
	margin: 0;
	padding: 0;
}

.nav__menu__item {
	padding: 0 8px;
	width: max-content;       /* Con esto las palabras compuestas no se parten */
	line-height: 62px;

	/*
	font-size: 18px;
	
	margin: 0 10px;
	/* text-transform: uppercase; /* Convierte a mayusculas duplica el tamaño */

}

.nav__menu__link {
	border-radius: 5px; 
	color: #929D4A;
	cursor: pointer;	
	padding: 7px 7px;
	text-decoration: none; /* Quita el subrayado */
}

.nav__menu__link:hover {	
	background: #000090;
	transition: .3s;
}

.open__menu,
.close__menu {
  display: none;
}

/* Configuracion para tabletas */

@media (max-width: 845px) {
	.nav__logo {
		display: none;
	}

	.nav__menu {
		margin-left: 15px;
	}
}

/* Configuracion para moviles */

@media (max-width: 768px) {

	.nav__logo {
		display: block;
	}

	.logo {
		height: 50px;
	}

	.nav {
		padding-top: 3px;
	   padding-right: 20px;
		width: 100%;
	}

	.nav__menu {
		align-items: center; /* Centra elementos cuando se usa flex */		
		background: #929D4A;
		flex-direction: column;
		height: calc(100% - 93px); /* Para ocupar el 100 de la pantalla - el header */
		left: 0; 
    	opacity: 0;
		overflow-y: auto; /* Agrega scroll si la pantalla es muy pequeña */
		/*padding: 20px 0; */
		pointer-events: none;
		position: fixed;
		top: 63px; 
		transition: opacity 0.3s;
		width: 93%;
	}

	.nav__menu__item {
		padding: 0;
		/*line-height: 40px; /* espacio entre los items */
	}
	
	.nav__menu__link {
		color: black;
		transition: all .3s;
	}
	
	.nav__menu__link:hover {
		background: greenyellow;
		color: blue; 
	}

	.open__menu,
	.close__menu {
	   background: #929D4A;
		border: #929D4A;
	   cursor: pointer;
	   display: block;
	   height: 40px;
	}

	.open__menu {
		margin-top: 4px;
	}

	.close-menu {
	   align-self: flex-end;
	   /*padding: 20px 15px;*/
	}

	.menu__opened {
	   opacity: 1;
	   pointer-events: all;
	}

	.open-menu:focus:not(:focus-visible),
	.close-menu:focus:not(:focus-visible) {
	   outline: none;
	}

}


/*
	.nav__menu__link:hover {
		background: green;
		color: white;
	}
	nav ul li a:hover, li a.active { */

/*	.nav__menu-visible {
		left: 0;
	}
*/

/*
	.nav__toggle {
		display: block;
	}

	.nav__toggle:focus:not(:focus-visible) {
		outline: none;
	}
*/



/* Configuracion para tabletas */

/*
@media (max-width: 952px) {
	.enlace {
		padding-left: 20px;
	}
	nav ul li a {
		font-size: 16px;
		padding: 3px 7px;
	}
}


	.menubtn {
		display: block;
	}
	#check:checked ~ ul {
		display: block;
		left: 0;
	}	


	.nav__menu__link {
		color: black;
		font-size: 14px;
	}
	
*/

/*
	.cab {
		height: 62px;
	}



	.nav__logo { /* Ubica la imagen del enlace del logo 
		display: block;
		font-size: 25px;
		line-height: 60px;
		padding: 0 10px;
	}
*/

/*
.nav__toggle {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	display: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 62px;
	width: 100px;
}

*/

