:root {
  	--theme-color: black;
  	--primary-color: #929D4A;
  	--secundary-color: #F7C331;
    --text-color: silver;
	--text-color-inverse: black;    
  	--navbar-shallow-color: #e5e5e5;
  	--menu-mobile-background-color: #3A4460;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--primary-color);
	background-color: var(--theme-color);

	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
	padding-top: 62px;
	/*padding: 62px 20px 0; /* Con esto baja el contenido de la pagina abajo del menu del .cab */
	/* 90px arriba, 20px izquierda y derecha, 0 abajo */
	width: 100%;
}

/*
section {
	background: url(32512.png) no-repeat;
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 70px); /* 100% de la pantalla menos 70px del alto del menu
}
*/

#myBtn {
  	display: none; /* Oculto por defecto */
  	position: fixed; /* Posición fija / pegajosa*/
  	bottom: 30px; /* Coloque el botón en la parte inferior de la página. */
  	right: 25px; /* Coloca el botón 30px de la derecha. */
  	z-index: 99; /* Asegúrese de que no se superponga */
  	cursor: pointer; /* Añadir un puntero del ratón en el hover */
	border-radius:250px;
	width: 5%;
}

#myBtn:hover {
   box-shadow: 2px 2px 2px 2px;
}


footer {
	background: black;
	border: 3px solid #929D4A;
	border-radius: 10px;
	bottom: 0;
	color: #929D4A;
	height: 30px;
	padding-bottom: 5px;
	position: fixed;
	text-align: center;
	vertical-align: ;
	width: 100%;
}

footer p {
	display: inline-block;
	font-size: 14px;
	font-weight: bolder;
}

footer div {
	display: inline-block;
	float: right;
}
footer button {
	margin: 0 10px;
}

/*==============================================
            Clases adicionales            
  ==============================================*/

.separa {
	width: 100%;
	height: 40px;
}

.separa__img {
	height: 75%;
}

.visible {
	display: none;
}

/* Para centrar imagenes */
.centrar {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.centrar2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wide {
	grid-column: span 2; /* para manejar la union de 2 celdas de ancho */ 
}

.tail {
	grid-row: span 2; /* para manejar la union de n celdas de alto */
}

.wide3 {
	grid-column: span 3; /* para manejar la union de 2 celdas de ancho */ 
}

.tail3 {
	grid-row: span 3; /* para manejar la union de n celdas de alto */
}

/* Boton azul, se convierte a verde */
.enviar {
	background-color: blue;
	background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
	box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6), inset -2px -2px 3px rgba(0,0,0,0.6);
	border: 0;
	border-radius: 10px;
	color: whitesmoke;
	font-size: 1.5 rem;
	line-height: 2.5;
	margin-left: auto;
	margin-right: auto;
	/*padding: 0 15px;*/
	text-align: center;
	width: 200px;
}

.enviar:hover {
	color: wheat;
	background-color: rgba(8, 192, 75, 0.736);
}
.enviar:active {
	box-shadow: inset -2px -2px 3px rgba(255,255,255,0.6), inset 2px 2px 3px rgba(0,0,0,0.6);
}

.final {
	padding-top: 3rem;
	padding-bottom: 0.8rem;
	width: 98%;
	text-align: center;
}


/* Para moviles vertical */
@media screen and  (max-width: 768px) {

	footer div {
		display: none;
	}
	footer button {
		display: none;
	}

	.separa {
		height: 10px;
	}

	.separa__img {
		width: 80%;
	}

}
