/* ----- Formacion ----- */

.top__training {
	padding-top: 3rem;
	padding-bottom: 0.8rem;
	width: 98%;
}

.parallax5 {
	background-attachment: fixed;
	background-image: url(../img/s05.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; /* LLena el espacio del contenedor */
	background-size: 80%;
	width: inherit;
}

.top__training h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.3em;
	padding-bottom: 0.2rem;
	padding-left: 10px;
	padding-top: 1.5rem;
	text-align: left;
}

.top__training h2 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0.1rem;
}

.training {
	align-items: center;
	display: flex;
	/*flex-direction: row; */
	justify-content: space-between; /* Los distribuye segun el espacio (logo izq Menu der) */	
	margin: 0 auto;	
	max-width: 992px;         /* Se le da un ancho para centrar en la pagina */	
   padding: 10px 10px;
}

.training__item {
	border: 3px solid #929D4A;
	border-radius: 5px;
	margin: 0 10px;
	padding: 5px 5px;
	text-align: center;
}

.training__item h3 {
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
}

.training__item img{
	align-items: center;
	align-content: center;
	border-radius: 3px;
	height: 100px;
	width: 110px;
}

.training__otros {
	align-items: center;
	display: flex;
	/*flex-direction: row; */
	justify-content: space-between; /* Los distribuye segun el espacio (logo izq Menu der) */	
	margin: 0 auto;	
	max-width: 992px;         /* Se le da un ancho para centrar en la pagina */	
   padding: 10px 20px;
}

.training__otros img {
	border: 3px solid #929D4A;
	border-radius: 5px;	
	height: 100px;
	width: 110px;
}

.training__otros h3 {
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
}

/* Para moviles vertical */
@media (max-width: 768px) {

	.top__training {
		padding-left: 10px;
	}

	.top__training h1 {
		font-size: 1.5rem;
		line-height: 1.3em;
		padding-bottom: 0.2rem;
	}

	.top__training h2 {
		font-size: 1.25rem;
		padding-bottom: 0.2rem;
	}

	.training__item img{
		width: 80px;
		height: 80px;
	}
}
